*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('https://dani-image-assets.s3.ap-southeast-2.amazonaws.com/Portfolio/background.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer
}

span{
    color:brown
}

nav ul li{
    list-style-position: none;
    display:inline-block;
    padding: 10px 25px;
}

.nav_item{
    color: white;
    text-decoration: none;
    font-weight: bold;   
    text-transform: capitalize;
}

.nav_item:hover{
    color:brown;
    transition: .4s;
}

.btn{
    background-color: brown;
    color: white;
    text-decoration: none;
    border: 10px solid transparent;
    border-color: brown;
    font-weight: bold;
    padding: 10px, 25px;
    border-radius: 30px;
    transition: transform 0.4s;
    width:fit-content
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 380px;
    left:8%;
    transform: translateY(-50%);
}

h1{
    color:white;
    margin: 20px 0px 20px;
    font-size: 75px; 
    margin-bottom: 50px;
}

h3{
    color:white;
    font-size: 25px; 
    margin-bottom: 50px;
}

.about{
    width:100%;
    padding: 100px 0px;
    background-color:rgb(4,16,38);
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;    
}

button {
    background-color: brown;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid brown;
    cursor: pointer;
}

.project{
    background: rgb(4,16,38);
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.card{
    height: 356px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(28,32,75);
    border-radius: 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    min-height: 550px;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: brown;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;  
}

.pra p{
    color:#fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: brown;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
    bottom: 20px;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid brown;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: rgb(28,32,75);
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: brown;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid brown;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(4,16,38);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
}

footer p{
    font-size: 15px;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}